@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.hero {
  text-align: center;
  padding: 0;
  margin-bottom: $spacing-16;
}

.greeting {
  font-size: $font-size-3xl;
  font-weight: $font-weight-bold;
  color: $color-secondary-600;
  margin-bottom: $spacing-2;
  letter-spacing: -0.3px;
}

.question {
  font-size: $font-size-h1;
  font-weight: $font-weight-bold;
  color: $color-gray-900;
  margin-bottom: $spacing-2;
  letter-spacing: -2px;
  line-height: 1.2;
}

.date {
  font-size: $font-size-lg;
  color: $color-gray-400;
  margin-bottom: $spacing-12;
  line-height: 1.3;
}

.logButton {
  @include button-primary;
  padding: $spacing-4 $spacing-8;
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
}
