@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-5 $spacing-8;
  // padding: $spacing-6;

  @include media-breakpoint-up(md) {
    grid-template-columns: 2fr 1fr;
  }
}

.moodSection {
  @include flex-column;
  align-items: flex-start;
  padding: $spacing-5;
  @include mood-cards;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up(md) {  
    padding: $spacing-8;
  }
}

.moodPrefix {
  font-size: 36px;
  font-weight: $font-weight-medium;
  color: $color-gray-400;
}

.moodLabel {
  font-size: 40px;
  font-weight: $font-weight-bold;
  color: $color-gray-900;
  margin-bottom: $spacing-4;
}

.moodIcon {
  width: 120px;
  height: 120px;
  position: absolute;
  object-fit: contain;
  transform: scale(2.13);
  bottom: $spacing-10;
  right: 12%;

}

.quoteSection {
  margin-top: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: $spacing-2;
}

.quoteIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-top: 2px;
}

.quoteText {
  font-size: $font-size-base;
  color: $color-gray-400;
  font-style: italic;
  line-height: $line-height-relaxed;
}

.detailsSection {
  @include flex-column;
  gap: $spacing-5;
}

.detailBlock, .detailBlock__reflection {
  @include flex-column;
  gap: $spacing-2;
}

.detailBlock__sleep {
  padding: $spacing-5;
  gap: $spacing-4;
  @include mood-cards;
}

.detailBlock__reflection {
  height: 100%;
  padding: $spacing-5;
  @include mood-cards;

}

.detailHeader {
  display: flex;
  align-items: center;
  gap: $spacing-2;
}

.detailIcon {
  width: 20px;
  height: 20px;
}

.detailLabel {
  font-size: $font-size-lg;
  color: $color-gray-400;
}

.detailValue {
  font-size: $font-size-3xl;
  font-weight: $font-weight-semibold;
  color: $color-gray-900;
}

.reflectionText {
  font-size: $font-size-sm;
  color: $color-gray-600;
  line-height: $line-height-relaxed;
}

.feelings {
  
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-3;
  margin-top: auto;
}

.feelingTag {
  height: fit-content;
  display: inline-flex;
  align-self: flex-end;
  color: $color-gray-600;
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
  font-style: italic;
}
